<!--  -->
<!-- Places folder was created from rails generate controller -->

<% @places.each do |place| %>
<div>
    <h1>
        <%= place.name %>
    </h1></br />
    <!-- heading pulls variable from places_controller.rb @places = place.all -->
    <i>
        <%= place.address %></i><br />
    <p>
        <%= place.description %>
    </p><br />
</div>

<hr />
<% end %>