<!--  -->
<!-- Places folder was created from rails generate controller -->

<% @places.each do |place| %>
<!-- booyah-box connects to master.scss -->
<div class="booyah-box col-10 offset-1">
    <h1>
        <%= link_to place.name, place_path(place) %>
    </h1><br />
    <!-- heading pulls name variable from places_controller.rb @places = place.all -->
    <i>
        <%= place.address %></i><br /></br />
    <p>
        <%= place.description %>
    </p><br />

    <!-- Adds email to bottom of page -->
    <% if place.user.present? %>
    <small>
        <%= place.user.email %></small>
    <% end %>
</div>

<% end %>

<!-- Lesson 12 challenge step 2. add will paginate to index -->
<% will_paginate @places %>